/*----------------- FONTS -------------------------*/
#hamburguer {
  display: flex;
  border-radius: 5px;
  background-color: transparent;
  font-size: 5rem;
  position: absolute;
  top: 0px;
  color: white;
  width: 10%;
  min-width: 50px;
  height: 50px;
  right: 0px;
  visibility: visible;
  z-index: 999999; }
@keyframes rotateHamburguer {
  from {
    transform: none;
    border-radius: 50%; }
  to {
    transform: rotate(360deg);
    border-radius: 5px; } }
  @media screen and (max-width: 1200px) {
    #hamburguer {
      top: 5px;
      position: absolute;
      right: 5px;
      visibility: visible;
      display: flex; } }

nav {
  width: 100vw;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  top: 0px;
  background-color: transparent;
  position: relative;
  border-top: none; }
  @media screen and (max-width: 1200px) {
    nav {
      position: absolute;
      width: 100vw;
      height: 225px;
      left: initial;
      transform: translateY(-500px);
      top: 0px;
      left: unset;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transition: all .5s; } }
  nav .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: auto;
    flex-direction: row;
    margin: 10px 100px 20px auto; }
    nav .navigation .nav__logo {
      margin-right: auto;
      position: relative;
      display: flex;
      left: -630px;
      min-width: 250px;
      justify-content: center;
      align-items: center;
      font-size: 13em; }
      nav .navigation .nav__logo strong {
        margin-right: 7px;
        font-size: 3rem;
        color: #969696; }
    @media screen and (max-width: 1200px) {
      nav .navigation {
        width: 75%;
        left: 0px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-items: center; } }
  nav .nav_wrapper {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav .nav_wrapper:hover .hide_lista {
      display: block; }
    @media screen and (max-width: 1200px) {
      nav .nav_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        min-height: 40px;
        width: 100%; } }
    nav .nav_wrapper .nav_item {
      width: 100%;
      list-style: none; }
      nav .nav_wrapper .nav_item:hover a {
        font-weight: bolder; }
      nav .nav_wrapper .nav_item .nav__last__item {
        background-color: white;
        color: #969696;
        border-radius: 2rem; }
        nav .nav_wrapper .nav_item .nav__last__item:hover {
          background-color: #969696;
          color: #2b2b2d; }
      nav .nav_wrapper .nav_item a {
        text-decoration: none;
        letter-spacing: -.5px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        justify-content: space-evenly;
        color: white; }
        nav .nav_wrapper .nav_item a span {
          font-size: 1.75rem; }
          @media screen and (max-width: 1200px) {
            nav .nav_wrapper .nav_item a span {
              font-size: 2.2rem;
              position: absolute; } }

/*# sourceMappingURL=navbar.css.map */
