@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, 'Comic Sans'; }

body {
  overflow: hidden;
  background-color: #383636; }
  @media screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; } }

/* ------------- NAV ---------------*/
.active {
  background-color: transparent; }

nav {
  position: relative;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: navAnimation 1 .5s ease-in-out; }
@keyframes navAnimation {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }
  nav ul {
    width: 35%;
    height: 40px;
    margin-left: auto;
    display: flex;
    top: 0px;
    justify-content: center;
    position: relative;
    list-style: none;
    align-items: center;
    background-image: linear-gradient(to right, #0d1329, #151e41, #13204e, #314796, #2c4292);
    border-bottom-left-radius: 2rem;
    transition: all 1.5s; }
    nav ul:hover {
      width: 40%;
      transition: all .5s; }
    @media screen and (max-width: 600px) {
      nav ul {
        text-align: right;
        flex-direction: column;
        border-bottom-left-radius: unset;
        top: 0px;
        width: 100%;
        padding-bottom: 10px;
        left: 0%;
        z-index: 9;
        position: absolute;
        height: auto; } }
    nav ul li {
      margin: auto 20px; }
      @media screen and (max-width: 600px) {
        nav ul li {
          margin-top: 10px; } }
      nav ul li a {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: white; }
        @media screen and (max-width: 600px) {
          nav ul li a {
            font-size: 1.8rem; } }
        nav ul li a:hover {
          color: white;
          transition: all .2s;
          text-decoration: underline #3e5bc1; }
        nav ul li a:visited {
          color: white; }

.language {
  text-decoration: underline 1px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  left: 5px;
  top: 5px;
  position: absolute;
  background-color: transparent;
  border-radius: 5%; }
  @media screen and (max-width: 600px) {
    .language {
      position: absolute;
      top: 0px;
      left: 20px;
      z-index: 9; } }
  .language:hover {
    background-color: rgba(255, 255, 255, 0.075); }
  .language a img {
    margin: 10px;
    width: 45px;
    z-index: 1; }
    @media screen and (max-width: 600px) {
      .language a img {
        width: 30px; } }

/*-----------link redes-------------------*/
.bgc__video {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  filter: brightness(50%) contrast(70%);
  height: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover; }

@keyframes girarContacto {
  0% {
    transform: rotate(9000deg); } }
/*------------CONTAINER SALUDO-----------------*/
.hi-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  left: 0px;
  top: 25%;
  min-height: 50vh;
  transition: .6s;
  background: #2b2b2d;
  background: linear-gradient(-90deg, #2b2b2d 36%, #202d5e 90%);
  padding: 15px;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.452);
  animation: hiAnimation 1 1s ease-in; }
@keyframes hiAnimation {
  0% {
    transform: translateX(-250px); }
  100% {
    transform: translateX(0px); } }
  @media screen and (max-width: 600px) {
    .hi-container {
      display: flex;
      position: relative;
      top: 80px;
      left: 0px;
      padding: unset;
      width: 100%;
      min-height: 100px;
      background: unset;
      box-shadow: unset;
      border-bottom-right-radius: unset;
      border-top-right-radius: unset; } }
  .hi-container .container-img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow-y: hidden; }
    @media screen and (max-width: 600px) {
      .hi-container .container-img {
        display: flex; } }
    .hi-container .container-img .img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: black;
      background: url(../Imagenes/foto.jpg);
      background-position-y: top;
      background-size: cover;
      transition: all .5s; }
      @media screen and (max-width: 600px) {
        .hi-container .container-img .img {
          width: 80%;
          height: 80%;
          margin: auto;
          background-position-y: unset;
          position: relative; } }
      .hi-container .container-img .img:hover {
        background: url(../Imagenes/foto2.PNG);
        background-position-y: top;
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .5s; }
  .hi-container h3 {
    font-size: 2rem;
    transition: .6s;
    color: white; }
    @media screen and (max-width: 600px) {
      .hi-container h3 {
        display: block;
        margin-bottom: 10px; } }
  .hi-container span {
    font-size: 1.8rem;
    color: #969696;
    transition: .6s;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .hi-container span {
        display: none; } }
  .hi-container .data-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-width: 150px;
    position: relative;
    margin-top: 5px;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: .5rem; }
    @media screen and (max-width: 600px) {
      .hi-container .data-container {
        flex-direction: row;
        min-width: 50px;
        margin: auto; } }
    .hi-container .data-container a {
      color: transparent; }
    .hi-container .data-container img {
      margin: 0px 10px;
      width: 30px;
      height: 30px; }
      @media screen and (max-width: 600px) {
        .hi-container .data-container img {
          width: 25px;
          height: 25px;
          margin-top: 10px; } }
      .hi-container .data-container img:hover {
        animation-name: girarContacto;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-duration: 10s; }
      .hi-container .data-container img:hover #mail {
        width: 25px;
        height: 25px; }
    .hi-container .data-container #mail {
      width: 31px;
      height: 38px;
      z-index: 2; }
      @media screen and (max-width: 600px) {
        .hi-container .data-container #mail {
          width: 25px;
          height: 25px; } }

/* -----------CAROUSEL -------- */
.carousel {
  width: 90%;
  left: 15%;
  top: 20px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 95vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
  padding-top: 20px; }
  @media screen and (max-width: 600px) {
    .carousel {
      top: 15vh;
      left: 0px;
      width: 100%;
      margin: auto; } }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #3e5bc1 #ffffff; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px; }

*::-webkit-scrollbar-track {
  background: #242323; }

*::-webkit-scrollbar-thumb {
  background: #2b2b2d;
  background: linear-gradient(0deg, #2b2b2d 36%, #202d5e 90%);
  border-radius: 12px; }

.container-about,
.container-projects,
.container-tech,
.container-contact {
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  scroll-snap-align: center; }
  @media screen and (max-width: 600px) {
    .container-about,
    .container-projects,
    .container-tech,
    .container-contact {
      scroll-snap-align: unset; } }
  .container-about h1,
  .container-projects h1,
  .container-tech h1,
  .container-contact h1 {
    font-size: 5rem;
    position: relative;
    z-index: -1; }
  .container-about p,
  .container-projects p,
  .container-tech p,
  .container-contact p {
    font-size: 1.8rem; }

/*----------------POSICION CONTAINERS---------------------*/
.container-about {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .container-about {
      min-height: 20vh; } }
  .container-about .about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white; }
    @media screen and (max-width: 600px) {
      .container-about .about {
        justify-content: center; } }
    .container-about .about p {
      width: 70%;
      margin-top: 50px; }
      @media screen and (max-width: 600px) {
        .container-about .about p {
          width: 90%; } }
    .container-about .about a {
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      min-width: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px 9px;
      margin: 100px auto;
      background: #2b2b2d;
      background: linear-gradient(90deg, #2b2b2d 36%, #202d5e 90%);
      box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.195); }
      @media screen and (max-width: 600px) {
        .container-about .about a {
          margin: 20px auto; } }
      .container-about .about a ion-icon {
        font-size: 2.5rem;
        margin-right: 5px; }
      .container-about .about a:hover {
        border: 2px solid white; }

.container-tech {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  top: 0px;
  height: 80vh; }
  @media screen and (max-width: 600px) {
    .container-tech {
      height: unset;
      min-height: 40vh; } }
  .container-tech .container-bars {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%; }
    .container-tech .container-bars .bar {
      display: flex;
      justify-content: safe;
      align-items: center;
      width: 30%;
      height: 40px;
      overflow: hidden;
      border-top-right-radius: 2.2rem;
      border-bottom-right-radius: 2.2rem;
      padding: 10px;
      background-color: rgba(128, 128, 128, 0.122);
      box-shadow: inset 0px 0px 5px 0.5px rgba(58, 57, 57, 0.119);
      transition: .5s;
      margin: 10px auto; }
      @media screen and (max-width: 600px) {
        .container-tech .container-bars .bar {
          width: 70%; } }
      .container-tech .container-bars .bar .rocket {
        font-size: 2.5rem;
        position: relative;
        z-index: 2;
        transform: rotate(45deg);
        color: #3e5bc1; }
      .container-tech .container-bars .bar .name {
        z-index: 9999;
        font-size: 1.3rem;
        position: absolute;
        color: white;
        font-weight: bold;
        margin-left: 5px; }
      .container-tech .container-bars .bar .progress {
        background-image: linear-gradient(to right, #0d1329, #151e41, #31458d, #3e5bc1, #3e5bc1);
        border-radius: .5rem;
        z-index: 3;
        height: 35px;
        position: relative;
        display: flex;
        left: -10px;
        top: 0px;
        transition: all 1s;
        animation: progressBar 3s 1 ease-in-out; }
      .container-tech .container-bars .bar:hover .progress {
        animation: progressBar 2s infinite ease-in-out; }
      .container-tech .container-bars .bar .react {
        width: 80%; }
      .container-tech .container-bars .bar .js {
        width: 85%; }
      .container-tech .container-bars .bar .node {
        width: 60%; }
      .container-tech .container-bars .bar .css {
        width: 100%; }
      .container-tech .container-bars .bar .html {
        width: 100%; }

@keyframes progressBar {
  0% {
    width: 0%;
    box-shadow: 0px 0px 15px 2px white, -5px 0px 15px 2px grey, -5px 0px 15px 2px #555151; }
  50% {
    box-shadow: 0px 0px 10px 2px white, -5px 0px 15px 1px grey, -5px 0px 15px 2px #555151; }
  75% {
    box-shadow: 0px 0px 20px 1px white, -5px 0px 15px 2px grey, -5px 0px 15px 2px #555151; }
  100% {
    width: 100%; } }
.container-projects {
  min-height: 100vh; }
  .container-projects .projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%; }
    .container-projects .projects .main-container {
      position: relative;
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 1;
      top: 50px;
      padding-bottom: 50px;
      min-height: 30vh; }
      @media screen and (max-width: 600px) {
        .container-projects .projects .main-container {
          width: 100%;
          top: 0px; } }
      .container-projects .projects .main-container .card {
        display: block;
        width: 300px;
        margin-top: 20px; }
        .container-projects .projects .main-container .card a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .container-projects .projects .main-container .card a .card-description {
            display: none; }
          .container-projects .projects .main-container .card a video {
            object-fit: cover;
            width: 100%; }
          .container-projects .projects .main-container .card a:hover .card-description {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            padding: 10px;
            color: white;
            text-align: center; }
            .container-projects .projects .main-container .card a:hover .card-description h3 {
              font-size: 2.5rem; }
            .container-projects .projects .main-container .card a:hover .card-description p {
              font-size: 1.8rem;
              font-style: italic; }
          .container-projects .projects .main-container .card a:hover video {
            filter: contrast(40%) brightness(30%);
            transition: all .5s; }

.projects,
.about,
.contact {
  width: 100%; }

.container-tech h1,
.container-projects h1,
.container-contact h1,
.container-about h1 {
  font-size: 4rem;
  color: #969696;
  position: relative;
  border-radius: 2rem;
  padding: 5px 20px;
  font-family: Monserrat, sans-serif;
  z-index: 99;
  color: white;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .container-tech h1,
    .container-projects h1,
    .container-contact h1,
    .container-about h1 {
      font-size: 2.5rem; } }

/*----------------FORM---------------------*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 30px;
  position: relative; }
  @media screen and (max-width: 600px) {
    .contact {
      min-height: 150vh;
      top: -200px; } }
  .contact h1 {
    margin: 20px; }
  .contact .form {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px; }
    .contact .form input {
      width: 40%;
      height: 30px;
      font-size: 2rem;
      margin: 10px 0px;
      border: none;
      color: white;
      background-color: #313131;
      padding-left: 10px; }
      @media screen and (max-width: 600px) {
        .contact .form input {
          width: 90%; } }
      .contact .form input:focus {
        border: none;
        outline: none; }
      .contact .form input::placeholder {
        color: white;
        font-size: 2rem;
        padding-left: 5px; }
    .contact .form textarea {
      margin-top: 20px;
      font-size: 2rem;
      position: relative;
      width: 40%;
      padding: 4px 10px;
      resize: none;
      background-color: #313131;
      border: none;
      color: white; }
      @media screen and (max-width: 600px) {
        .contact .form textarea {
          width: 90%; } }
      .contact .form textarea:focus {
        border: none;
        outline: none; }
      .contact .form textarea::placeholder {
        color: white;
        font-size: 2rem;
        padding: 5px; }
    .contact .form button {
      position: relative;
      top: 10px;
      width: 20%;
      height: 50px;
      font-size: 2rem;
      cursor: pointer;
      color: white;
      outline: none;
      background: #2b2b2d;
      background: linear-gradient(90deg, #2b2b2d 36%, #202d5e 90%);
      border: none; }
      @media screen and (max-width: 600px) {
        .contact .form button {
          width: 50%; } }
      .contact .form button:hover {
        border: 2px solid white; }

/*# sourceMappingURL=styles.css.map */
