@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: roboto, 'Comic Sans';
}

$titulos : rgb(150, 150, 150);
$Principal :#3e5bc1;

$smallest : 450px;
$small : 600px;


body{
    overflow: hidden;
    @media screen and (max-width: $small) {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
    }
}
/* ------------- NAV ---------------*/
.active{
    background-color: transparent;
}
nav {
    top: 0px;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    
    ul {
        width: 40%;
        left: 30%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        list-style: none;
        background-color: transparent;
        @media screen and (max-width: $small) {
            text-align: right;
            flex-direction: column;
            top: 80px;
            width: 50%;
            left: 15%;
            position: relative;
        }
        li{
            @media screen and (max-width: $small) {
                margin-top: 10px;
            }

            a{
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                color: black;
                @media screen and (max-width: $small) {
                    font-size: 1.8rem;
                }
                &:hover{
                    color: $Principal;
                    transition: all .2s;
                    text-decoration: underline $Principal;
                }
                &:visited{
                    color: black;
                }
            }
        }
        
    }
}


.language{
    color:rgb(26, 26, 83); 
    text-decoration: underline 1px;
}



/*-----------link redes-------------------*/


.data-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    min-width: 200px;
    top: 75vh;
    left: 15vh;
    padding: 5px;
    @media screen and (max-width: $small) {
        position: relative;
        top: 150px;
        left: -80px;
        height: 200px;
        min-width: 30px;
        justify-content: space-evenly;
        width: 50px;
        flex-direction: row;
    }
    a{
        color: transparent;
    }
    img{
        margin: 0px 10px;
        width: 40px;    
        height: 40px;
        @media screen and (max-width: $small) {
           width: 30px;
           height: 30px;
        }
        &:hover{            
            animation-name: girarContacto;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-duration: 10s;
            
        }
        &:hover #mail{
            width: 45px;
            height: 45px;
            
        }
        

    }
    #mail{
        width: 43px;
        height: 50px;
        @media screen and (max-width: $small) {
            width: 35px;
            height: 40px;
         }
    }
}


@keyframes girarContacto{
    0%{
        transform: rotate(9000deg);
    }
}
/*------------CONTAINER SALUDO-----------------*/

.hi-container {
    position: absolute;
    left: 15vh;
    top: 55%;
    transition: .6s;
    @media screen and (max-width: $small) {
        position: absolute;
        left: 50px;
        top: 160px;
    }
    h3 {
        font-size: 3rem;
        transition: .6s;
        @media screen and (max-width: $small) {
            font-size: 2rem;
        }
    }
    span {
        font-size: 2rem;
        color: rgb(150, 150, 150);
        transition: .6s;
        @media screen and (max-width: $small) {
            font-size: 1.8rem;
         }
    }
}

.container-img{
    width: 200px;
    height: 200px;
    position: absolute;
    overflow-y: hidden;
    top: 15vh;
    left: 15vh;
    @media screen and (max-width: $small) {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: black;
        background: url(../Imagenes/foto.jpg);
        background-position-y: top;
        background-size: cover;
        transition: all .5s;
        @media screen and (max-width: $small) {
           width: 100px;
           height: 100px;
        }
        &:hover{
            background: url(../Imagenes/foto2.PNG);
            background-position-y: top;
            background-position-x: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all .5s;
        }
    }          
}





/* -----------CAROUSEL -------- */
.carousel {
    width: 70%;
    left: 30%;
    top: 15vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95vh;
    cursor: pointer;
    scroll-snap-type: y mandatory;
    scroll-behavior: auto;

    @media screen and (max-width: $small) {
        top: 15vh;
        left: 0px;
        width: 92%;
        margin: auto;
        height: 60vh;
     }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3e5bc1 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 25px;
  }

  *::-webkit-scrollbar-track {
    background: #d1cfcf86;
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(43,43,45);
    background: linear-gradient(0deg, rgba(43,43,45,1) 36%, rgb(32, 45, 94) 90%);
    border-radius: 12px;
    border: 1px solid black;
  }



.container-about,
.container-projects,
.container-tech,
.container-contact {
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-align: center;
    h1{
        font-size: 5rem;
        position: relative;
        z-index: -1;
        text-align: left;
    }
    p{
        font-size: 1.8rem;
    }
}



/*----------------POSICION CONTAINERS---------------------*/

.container-about{
    top: 0px;
    min-height: 50vh;
    .about{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 90%;
        h1{
            position: relative;
        }
       p{
           width: 70%;
           transform: translateY(50px);
           position: relative;
       }
        a{
            position: relative;
        }
    }
   

    .download{
        font-size: 1.5rem;
        text-decoration: none;
        position:relative;
        color: $Principal;
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;        
        padding: 5px;
        left: 0px;
        margin: 100px auto;
        border: 1px solid $Principal;
        ion-icon{
            font-size: 2.5rem;
        }
        &:hover{
            background: rgb(43,43,45);
            background: linear-gradient(90deg, rgba(43,43,45,1) 36%, rgb(32, 45, 94) 90%);
            color: white;
        }
    }
    .arrow_icon{
        font-size: 7rem;
        z-index: 99;
        top: -50px;
        position: relative;
        color: $titulos;
        &:hover{
            animation: flecha infinite .5s ease-in-out;
        }
        @keyframes flecha {
            0%{
                transform: translateY(8px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }
}



.container-tech{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0px;
    height: 80vh;
    
        .container-bars{
            top: -50px;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50%;
            .bar{
                display: flex;
                justify-content: safe;
                align-items: center;
                width: 50%;
                height: 40px;
                overflow: hidden;
                border-top-right-radius:2.2rem;
                border-bottom-right-radius:2.2rem;
                padding:10px;
                background-color: rgba(128, 128, 128, 0.122);
                box-shadow: inset 0px 0px 5px .5px rgba(58, 57, 57, 0.119);
                
                transition: .5s;
                margin: auto 10px;
                .planet{
                    font-size: 3.3rem;
                    position: absolute;
                    right:45px;
                    color: $Principal;
                    animation: planetRotation 1s infinite ease-in-out;
                    display: none;
                }
                
                .rocket{
                    font-size: 2.5rem;
                    position: relative;
                    left: 1px;
                    z-index: 2;
                    transform: rotate(45deg);
                    color: $Principal;
                }
                .name{
                    z-index: 9999;
                    font-size: 1.3rem;
                    position: absolute;
                    color: white;
                    font-weight: bold;
                    margin-left: 5px;
                }
                .progress{
                    background-image: linear-gradient(to right, #0d1329, #151e41, rgb(49, 69, 141),#3e5bc1,#3e5bc1); 
                    border-radius: .5rem;    
                    z-index: 3;
                    height: 15px;
                    position: relative;
                    display: flex;
                    left: 0px;
                    top: 0px;
                    transition: all 1s;
                    animation: progressBar 6s 2 ease-in-out;
                }
                &:hover .progress{
                    animation: progressBar 2s infinite ease-in-out;
                }
                .react{
                    width: 80%;
                }
                .js{
                    width: 85%;
                }
                .node{
                    width: 60%;
                }
                .css{
                    width: 100%;
                }
                .html{
                    width: 100%;
                }
            }
        }
         
}
@keyframes progressBar {
    0%{
        width: 0%;
        box-shadow: 0px 0px 15px 2px white,
                    -5px 0px 15px 2px grey,
                    -5px 0px 15px 2px rgb(85, 81, 81);
    }
    50%{
        box-shadow: 0px 0px 10px 2px white,
                    -5px 0px 15px 1px grey,
                    -5px 0px 15px 2px rgb(85, 81, 81);
    }
    75%{
        box-shadow: 0px 0px 20px 1px white,
                    -5px 0px 15px 2px grey,
                    -5px 0px 15px 2px rgb(85, 81, 81);
    }
    100%{
        width: 100%;
    }
}


.container-projects {
    max-height: 25vh;
    .projects{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100%;
        a{
            font-size: 1.5rem;
            text-decoration: none;
            position:relative;            
            display: flex;
            justify-content:center;
            flex-direction: row;
            align-items: center;       
            left: 0px;
            color: $Principal;
            margin: 100px auto;
            border: 1px solid $Principal;
            padding: 5px;

            ion-icon{
                font-size: 2.5rem;
                padding-right: 10px;
            }
        &:hover{
            background: rgb(43,43,45);
            background: linear-gradient(90deg, rgba(43,43,45,1) 36%, rgb(32, 45, 94) 90%);
            color: white;
            
           /*  ::after{
                position: absolute;
                left: 0px;
                top: 100px;
                width: 200px;
                height: 200px;
                background-color: red;
                content: ' ';
            } */
            
        }
        
        } 
       
    }
   
}



.projects,
.about,
.contact {
    width: 100%;
    
}


.container-tech h1,
.container-projects h1,
.container-contact h1,
.container-about h1{
            font-size: 3.5rem;
            color: $titulos;            
            position: relative;
            background-color: rgb(216, 215, 215);
            box-shadow: inset 0px 0px 20px rgb(236, 234, 234);
            border-radius: 4rem;
            padding: 5px 20px;            
            font-family:Lato, sans-serif;
            z-index: 99;
           text-align: center;
           @media screen and (max-width: $small) {
            font-size: 2.5rem;
        }
            
}

.container-tech ,
.container-projects ,
.container-contact ,
.container-about {
    
    &:hover h1{
        box-shadow: none;
                transition: box-shadow .5s;
                color: white;
    }
}


/*----------------FORM---------------------*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:30px;
    position: relative;
    .form {
        top: 20px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        left: 0px;
        
        padding-bottom: 120px;
        input {
            width: 60%;
            height: 40px;
            font-size: 2rem;
            margin: 10px 0px;
            border: none;
            border-bottom: 1px solid black;
            @media screen and (max-width: $small) {
                width: 90%;
            }
            &:focus{
    
                border: none;
                outline: none;
                border-bottom:2px solid black;
            }
            &::placeholder{
                color: black;
                font-size: 2rem;
                padding-left: 5px;
            }
        }
        .left_container{
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: left;
            flex-direction: column;
            @media screen and (max-width: $small) {
                width: 90%;
            }
            label{
                font-size: 2rem;
                display: block;
                position: relative;/* 
                border: 1px solid black; */
                padding-left: 5px;
                width: 200px;
                display: flex;
                justify-content: center;
                background-color: black;
                border-radius: 1rem;
            background-color: rgb(216, 215, 215);
                /////
                color: black;
              font-family:Lato, sans-serif;
              color: white;
            }
            select{
                cursor: pointer;
                font-size: 1.8rem;
                display: flex;
                margin-top: 25px;
                flex-direction: row;
                width: 60%;
                @media screen and (max-width: $small) {
                    font-size: 1.5rem;
                 }
                &::placeholder{
                    color: black;
                    font-size: 2rem;
                    padding-left: 5px;
                }
                option{
                    font-size: 1.8rem;
                }
            }
        }
        
        textarea {
            margin-top: 20px;
            font-size: 2rem;
            position: relative;
            width: 60%;
            padding: 4px 10px;
            resize: none;
            border: 1px solid black;
            &::placeholder{
                color: black;
                font-size: 2rem;
                padding: 5px;
            }
        }
        button{
            position: relative;
            top: 10px;
            width: 20%;
            height: 50px;
            font-size: 2rem;
            cursor: pointer;
            color: black;
            border: 1px solid black;
            background-color: transparent;
            &:hover{            
                background: rgb(43,43,45);
                background: linear-gradient(90deg, rgba(43,43,45,1) 36%, rgb(32, 45, 94) 90%);
                color: white;
                transition:  all .4s;
            }
        }
    }
}


