.innerImg{
    width: 120px;
    height: 120px;
    background-image: url("https://i.ibb.co/HBgQsPJ/foto.jpg");
    background-size: cover;
    margin: auto;
    border-radius: 40%;
}

.title-container{
   display: block;
   top: 10%;
   width: 100%;    
   left: 0%;       
   position: absolute;
}

.title-container >h1, h3{          
    text-align: center;
    color: white;
    text-shadow: 5px 1px 9px  rgb(111, 90, 190); 
}

.title-container1{
   display: inline;
   left: 30%;
   top: 2%;
   width: 100%;           
   position: absolute;
   color: white;   
}

.title-container1 > h3{
    left: -18%;
    top: 60%;    
    position: absolute;   
    }

.title-container1 > h1{
    left: -18%;    
    position: relative; 
}        

.btn{
    width: 100%;
    height: 50%;             
}
.btn-container{
    background-color: red;
    width: 100%;
    position: relative;
    display: block;
    top: 60%;
}

.edu-container,
.info-container,
.exp-container,
.skills-container{
    display: none;
    }
.edu-container1,
.info-container1,
.exp-container1,
.skills-container1{
    color: white;      
}
.img-container{
    cursor: pointer;
    border: 3px solid rgba(102, 51, 153, 0.473);
    border-radius: 40%;
    top: 30%;       
    left: 46%;     
    position: absolute;
}

.imgContainer1{
    border: 3px solid rgba(102, 51, 153, 0.473);
    border-radius: 40%;
    position: absolute;
    left: 1%;
    top: 2%;
    animation: imagen 3s;   
}

@keyframes imagen{
    0%{ top: 30%;
        left: 46%;  }    
    50%{top: 2%;
        left: 46%; 
    }     
}

.skills-container,
.skills-container1 h1{ 
    font-size: 30px;
}
.iconSkills{    
    width: 70px;
    height: 70px;
    top: 10px;
    position: relative;   
    display: inline;
    padding:10px;
    transition: all 1s;   
    margin: 0px 5px;
}

.iconSkills:hover{    
    animation-name: iconos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 71px;    
    height: 71px; 
    animation-delay: .5s;
    transition: all 2.5s;  
    cursor:pointer;           
}

@keyframes iconos{
    0%{ transform: rotate(30deg);
    }
    50%{transform: rotate(-30deg);
    }
    100%{transform: rotate(30deg);
    }
}

.icon-container1{
    position: relative;
    top: -20px;
    transition: all 1s;
    display: flex;   
    justify-content: center;
    align-items: center; 
    list-style:none    
}

 #iconCss:hover::after{      
    content: "Css3";
    color: white;
    display: block;       
}

 #iconReact:hover::after{    
    content: "React JS";
    color: white;
    display: block;
} 
#iconBootstrap:hover::after{   
    content: "Bootstrap 4";
    color: white;
    display: block;
}
#iconHtml:hover::after{ 
    content: "HTML 5";
    color: white;
    display: block;
}
#iconJs:hover::after{      
    content: "JS ECMAScript 6";
    color: white;
    display: block;
}
#iconMysql:hover::after{  
    content: "SQL Mysql";
    color: white;
    display: block;
}  

/* --------FIN ICONOS DE SKILLS---------*/





