@media screen and (max-width: 600px){


    .imgContainer1{
        border: 3px solid rgba(102, 51, 153, 0.473);
        border-radius: 40%;
        position: absolute;
        left: 1.5%;
        top: 1.5%;
        margin: auto;
        animation: imagen 3s;   
    }
    
    @keyframes imagen{
        0%{ top: 30%;
            left: 40%;  }    
        50%{top: 2%;
            left: 40%; 
        }     
    }
  
    .title-container{
        margin: 0;
       
    }
    .title-container h1{
        font-size: 1.3rem;
        position: relative;
        left: 70px;
    }
    .title-container h3{
        position: relative;
        font-size: .9rem;
        left: 70px;
        top: -10px;
    }
    .container-start{
        position: relative;
        top: -230px;
    }
     .title-container1{
        left: 40%;
        top: 5%;        
        transition: all .5;
    }
    .title-container,
     .title-container1 > h1,h3 {
        padding: 10px;
        font-size: .8em;
        transition: all 1s;
        position: relative;
        left: -70px;
        top: 10px;

    }
    .title-container1 h3{
        left: -90px;
        top: 30px;
    }
    #linkContacto{
        font-size: 12px;
        margin-top: 10px;   
    }

    .language-container{
        top: 15%;
    }
    .language-container > a{
        font-size: 10px;
        top: 50%;
        display: flex;
                
    }
    .data-container{
        position: relative;
        left: 12%;
        
    }
    .data-container a img {
        width: 30px;
        left: 30px;
        height: 30px;
        transition: all .5s;
        margin: -5px;
    }

    .skills-container1 {
         top: 6em; 
         margin: auto;
    }

    .skills-container1 > h1 {
        font-size: 20px;
    }

    .skills-container1 > ul li img{
        height: 50px;
        left: -25px;
        width: 50px;
        margin: -15px;
    } 
    .edu-container1 > h1
    ,.exp-container > h1
    ,.exp-container1 > h1 
    ,.edu-container1 > h1
    ,.info-container1 > h1
    ,.info-container > h1 {
        font-size: 12px;
        
       
       

    }
    .edu-container1
    ,.exp-container 
    ,.exp-container1  
    ,.edu-container1
    ,.info-container1 
    ,.info-container {
        min-height: 65vh;
        width: calc(100vw/3);
        opacity: 100%;        
    }   

    .edu-container1,
    .exp-container,
    .exp-container1,
    .data-container > span{
        font-size: 14px;
    }    


    .ul-li{
        font-size: 11px;
        left: -20px;
        position: relative;
        top: 10px;
    }
    .info-container1,
    .info-container > p {
        font-size: 11px;
       
    }

    .exp-span{
        position: relative;
        left: -20px;
    }
    .iconSkills:hover{
        width: 30px;
        height: 30px;
        transition: all 1s;
    }
    #iconCss:hover::after,
    #iconReact:hover::after,
    #iconBootstrap:hover::after,
    #iconHtml:hover::after,
    #iconJs:hover::after,
    #iconMysql:hover::after {
        top: 0px;
        font-size:18px;
    }
    .edu-container1 h1{
        font-size: .9em;
        padding: 5px; 
               
    }
    .info-container1 h1 {
        font-size: 1.2em;
        padding: 5px;
        
    }

    .exp-container1 li{
        font-size: .7rem;
        left: -20px;
        position: relative;
    }
    #innerImg{
        width: 70px;
        height: 70px;
    }
    
}

