* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: roboto, 'Comic Sans';
}

/* ------------- NAV ---------------*/

nav {
    top: 0px;
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    width: 40%;
    left: 30%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
}

nav ul li a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    letter-spacing: -.5px;
    transition: .6s;
    text-shadow: 0px 0px 65px rgb(83, 80, 80);
}
nav ul li a:visited{
    color: black;
}
.language{
    color:rgb(26, 26, 83); 
    text-decoration: underline 1px;
}
/*------------CONTAINER SALUDO-----------------*/

.hi-container {
    position: absolute;
    left: 15vh;
    top: 55%;
    transition: .6s;
}

.hi-container h3 {
    font-size: 3rem;
    transition: .6s;
}

.hi-container span {
    font-size: 2rem;
    color: rgb(150, 150, 150);
    transition: .6s;
}
.container-img{
    width: 200px;
    height: 200px;
    position: absolute;
    overflow-y: hidden;
    top: 15vh;
    left: 15vh;
}


.container-img .img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    background: url(./Imagenes/foto.jpg);
    background-position-y: top;
    background-size: cover;
    transition: all .5s;
}

.container-img .img:hover{
    background: url(./Imagenes/foto2.PNG);
    background-position-y: top;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
    
}


/* -----------CAROUSEL -------- */
.carousel {
    width: 55%;
    left: 40%;
    top: 5vh;
    position: relative;
    overflow-y: scroll;
    height: 80vh;
    cursor: pointer;
}

.carousel::-webkit-scrollbar {
    display: none;
}



.container-about,
.container-projects,
.container-contact {
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
}

.about p,
.projects p {
    position: relative;
    top: 50px;
    width: 100%;
    line-height: 40px;

}

/*----------------POSICION CONTAINERS---------------------*/

.container-about{
    top: 0px;
    height: 70vh;
}

.container-projects {
    height: 90vh;
    position: relative;
}

.container-projects a {
    position: relative;
    text-decoration: none;
    top: -100px;
}
.container-projects a:hover{
    letter-spacing: -3px;
    transition: all 1s;
}
.container-projects p {
    position: relative;
    top: -90px;
}
.container-projects a:visited{
    color: black;
}


.container-contact {
    height: 70vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
}

.projects,
.about,
.contact {
    width: 100%;
}


.container-about h1,
.container-projects h1
 {
    font-size: 5rem;
    position: relative;
    z-index: -1;
    text-align: left;
}

.container-about p,
.container-projects p {
    font-size: 2rem;
}


.download{
    font-size: 2rem;
    text-decoration: underline;
    position: relative;
    color: black;
    top: 100px;
    left: 0px;
    color:rgb(26, 26, 83);
}

.container-contact h1{
    font-size: 5rem;
    position: relative;
    z-index: -1;
    text-align: left;
}

/*----------------FORM---------------------*/

.form {
    top: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0px;
    
}
.form input {
    width: 60%;
    height: 40px;
    font-size: 2rem;
    margin: 20px 0px;
    border: none;
    border-bottom: 2px solid black;
}
.form input:focus{
    border: none;
    outline: none;
    border-bottom:2px solid black;
}

.form input::placeholder{
    color: black;
    font-size: 2rem;
    padding-left: 5px;
}

.form textarea {
    margin-top: 20px;
    font-size: 2rem;
    position: relative;
    width: 60%;
    resize: none;
    border: 2px solid black;
}
.form textarea::placeholder{
    color: black;
    font-size: 2rem;
    padding: 5px;
}

.form button{
    position: relative;
    top: 10px;
    width: 20%;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    background-color: transparent;
}
.form button:hover{
    background-color: black;
    color: white;
    transition:  all .4s;
}

#hola {
    animation: movimientoSaludo 2 2s;
}
@keyframes movimientoSaludo {
    0%{
        
        font-size: inherit;
    }
    50%{
        font-size: 8rem;
        margin-bottom: 100px;
    }
    100%{
        font-size: inherit;
    }
}